src/flows/Agreement_Template_Selection_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Id_to_TemplateId</name>
        <label>Assign Id to TemplateId</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agreement_Template_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Template_assign</name>
        <label>Template assign</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Selected_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agreement_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Agreement_Template_Id</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Template_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>echosign_dev1__Agreement_Template__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>URLtoAgreement</name>
        <dataType>String</dataType>
        <expression> URLFOR(&apos;/apex/echosign_dev1__AgreementTemplateProcess&apos;, null, [masterId={!ContactId}, templateId={!TemplateId}])</expression>
    </formulas>
    <interviewLabel>Agreement Template Selection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agreement Template Selection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agreement_Template_Id</name>
        <label>Get Agreement Template Id</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Id_to_TemplateId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Template</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>echosign_dev1__Agreement_Template__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>End_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>End_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>End_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Template_Selected</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Selected Agreement Template - &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Selected_Template}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>End_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>End_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>End_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_Agreement</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click here to&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!URLtoAgreement}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px; color: rgb(54, 118, 182);&quot;&gt;&lt;b&gt;Generate Agreement&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>End_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_text_3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Error_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_text_4</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; font-family: verdana; color: rgb(34, 110, 186);&quot;&gt;Something went wrong, Please Try again!!&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Template_Selection</name>
        <label>Template Selection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Template_assign</targetReference>
        </connector>
        <fields>
            <name>Template_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Template_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Template_Selection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Template_Selection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Template_Selection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Template</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select a Template for Agreement :&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Template_Selection_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Template_Selection_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Template_Selection_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Template_Selection_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agreement_Template</name>
                    <choiceReferences>Template_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Agreement Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Template_Selection_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select a Template that you want to send...&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Save Template</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Template_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
